   <div class="row ">
    <div class="col pt-2">

    </div>
    <div class="col d-grid gap-2 d-md-flex justify-content-md-end align-self-center">
     <p>ingreso como <a href="/loginAdmin">Administrador</a></p>
    </div>
  </div>

 <div class=" row text-light bg-dark">
    
    <div class="col text-center">
      <h2>
        <b>Inicio de sesión</b>
      </h2>
    </div>
  
  </div>
  <div>
<div class="text-center row text-center mt-3 ">
 
    <img src='https://www.citypng.com/public/uploads/preview/-51614361279q4q7nu9qhq.png'
      class='m-auto w-auto logo pb-2' />
      <hr>
   <h5 class='text-center '>Ingresa Rut y Password</h5>
      <hr>
      <h2 class='text-center'></h2>
      <div class='col-12 col-md-5 m-auto mt-3'>
        <form method='post' action='/login'>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <img
                src="https://www.nicepng.com/png/detail/182-1826178_my-business-card-line-comments-visiting-card-icon.png">
            </span>
            <input type="text" class="form-control" placeholder="Ingrese su RUT (con puntos y guión)" aria-label="rut"
              aria-describedby="basic-addon1" name="rut" id="rut" />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <img src="https://www.freeiconspng.com/thumbs/key-icon/black-key-symbol-icon-6.png">
            </span>
            <input type="password" class="form-control" placeholder="Ingrese su clave" aria-label="password"
              aria-describedby="basic-addon1" name="password" id="password" />
          </div>
          <button type='submit' class='btn btn-light m-auto shadow px-5 btn-outline-success'>INGRESAR</button>

          <a class="d-block mt-3" href="/register">Registrarme</a>


        </form>

      </div>

    </div>
     </div>
      <div>
    <hr>
    <div class="row ">
      <div class="col bg-dark text-center text-light fw-light">
        <small>
        <p class="pt-2">Desarrollado por Jonathan Bustos- Desarrollador full-stack -- jonathanbust@gmail.com</p>
        <p></p></small>
      </div>
      <hr>
    </div>
  </div>